.iconkomentar {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    margin-top: 2px;
    border-radius: 20px;
    object-fit: cover;
}

.second{
	width: 100%;
	background-color: white;
	border-radius: 4px;
	box-shadow: 2px 2px 1px #aaaaaa;
    word-break: break-word;
}
.text1{
	font-size: 15px;
    font-weight: 500;
    color: #56575b;
}
.text2{
	font-size: 13px;
    font-weight: 500;
    color: #56575b;
}

.textprofile{
	font-size: 15px;
    font-weight: 500;
    color: #56575b;
    font-weight: bold;
}


.creatorlogo {
    color: #fff;
    background: linear-gradient(90deg, #00a5f4 0%, #00a5f4 100%);
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    user-select: none;
    border-radius: 20px;
    text-decoration: none;
  }
  
  .komentarprofile {
    cursor: pointer;
  }


  .buttonDeleteComment {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-left: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    cursor: pointer;
  }