.iconkomentar {
    height: 18px;
    width: 18px;
    margin-right: 5px;
    margin-top: 2px;
    border-radius: 20px;
    object-fit: cover;
}
.addtxt{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 13px;
	width: 350px;
	background-color: #e5e8ed;
	font-weight: 500;
}
.form-control:focus{
	color: #000;
}
.second{
	width: 100%;
	background-color: white;
	border-radius: 4px;
	box-shadow: 2px 2px 1px #aaaaaa;
    word-break: break-word;
}
.text1{
	font-size: 13px;
    font-weight: 500;
    color: #56575b;
}
.text2{
	font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #56575b;
}
.text3{
	font-size: 13px;
    font-weight: 500;
    margin-right: 4px;
    color: #828386;
}
.text3o{
	color: #00a5f4;

}
.text4{
	font-size: 13px;
    font-weight: 500;
    color: #828386;
}
.text4i{
	color: #00a5f4;
}
.text4o{
	color: white;
}
.thumbup{
	font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
}
.thumbupo{
	color: #17a2b8;
}

.creatorlogo {
    color: #fff;
    background: linear-gradient(90deg, #00a5f4 0%, #00a5f4 100%);
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    user-select: none;
    border-radius: 20px;
    text-decoration: none;
  }
  
  .komentarprofile {
    cursor: pointer;
  }