.border-mix {
  border-radius: 15px;
  background: rgba(240, 240, 240, 0.492);
  padding: 10px 20px;
  /* shadow */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.melengkung {
  border-radius: 15px;
}

.display-flex {
  display: flex;
}

.containerPost {
  margin-top: 6px;
}

.colku1 {
  flex: 0 0 33%;
  max-width: 33%;
}

.colku2 {
  flex: 0 0 67%;
  max-width: 67%;
}

.centerprofilepost {
  justify-content: center;
  align-items: center;
}

.boxshadowpost {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.52);
}

@media (max-width: 992px) { 
  .colku1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .colku2 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px;
  }
}