.profilefotobar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profilefoto {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #fff;
    transition: all 0.3s ease-in-out;
   
}
.foto:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 6px #E60023;
}

.profilebar {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.profilebar .count{
    font-size: 16px;
    font-style: italic;
    color: #161b22;
}

.profilebar .username{
    font-size: 20px;
    font-weight: bold;
    color: #161b22;
}

.garis {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 26%;
    display: flex;
    width: 50%;
    height: 2px;
    background-color: #161b22; /* Warna hitam dengan tingkat transparansi 0.5 */
    opacity: 0.2;
  }

  .managebar {
    position: relative;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.managebar .shareButton{
  color: black;
  background: #efefef;
  padding: 12px 25px;
  cursor: pointer;
  user-select: none;
  border-radius: 40px;
  margin: 0px 5px;
  text-decoration: none;
}
.managebar .editButton{
  color: black;
  background: #efefef;
  padding: 12px 25px;
  cursor: pointer;
  user-select: none;
  border-radius: 40px;
  margin: 0px 5px;
  text-decoration: none;
}
.managebar .shareButton:hover{
    color: black;
    background:  rgb(216, 216, 216);
    transition: 0.3s;
  }

.managebar .editButton:hover{
    color: black;
    background: rgb(216, 216, 216);
    transition: 0.3s;
  }

.photobar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 0.3px;
    
}


.underline {
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-image-slice: 1;
}

/* make a hover with background animation */
.no-underline {
  color: black;
  cursor: pointer;
  user-select: none;
  border-radius: 40px;
  text-decoration: none;
  opacity: 0.7;
}



.no-underline:hover {
  background: rgb(216, 216, 216);
  border-radius: 20px;
  cursor: pointer;

}

.no-decoration {
    text-decoration: none;
}

.photobar .photoButtonCreated{
  padding: 12px 20px;
  margin-right: 10px;
  color: black;
}

.photobar .photoButtonSaved{
  padding: 12px 20px;
  margin-left: 10px;
  color: black;
}

.photobar .photoButtonAlbum{
  padding: 12px 20px;
  margin-left: 10px;
  color: black;
}

.buttonalbum {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid #69bff8;
  box-shadow: 4px 4px #69bff8;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.buttonalbum, .button__icon, .button__text {
  transition: all 0.3s;
}

.buttonalbum .button__text {
  transform: translateX(22px);
  color: #323232;
  font-weight: 600;
}

.buttonalbum .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 35px;
  background-color: #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonalbum .svg {
  width: 20px;
  fill: #323232;
}

.buttonalbum:hover {
  background: #eee;
}

.buttonalbum:hover .button__text {
  color: transparent;
}

.buttonalbum:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.buttonalbum:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px #323232;
}

.listalbum {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 16px;
  gap: 8px;
  height: 40px;
  width: 128px;
  border: none;
  background: #056bfa29;
  border-radius: 20px;
  cursor: pointer;
}

.lable {
  margin-top: 1px;
  font-size: 19px;
  line-height: 22px;
  color: #056DFA;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.listalbum:hover {
  background: #056bfa49;
}

.listalbum:hover .svg-icon {
  animation: spin 1s linear infinite;
}

.containerAlbum {
  margin-top: 30px;
  float: center;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


.flex-menu {
  display:flex;
}

.flex-menu li {
  list-style: none;
}

.namalengkap {
  margin-top: 5px;
  font-size: 25px;
  font-weight: bold;
  color: #161b22;
}

.harmonify-icon-username {
  max-width: 15px; 
  max-height: 15px; 
  margin: 2px;
}

.username{
  margin-left: 3px;
  font-size: 15px;
  font-weight: bold;
  color: #161b22;
  opacity: 0.7;
}

@media (max-width: 376px) {
  .profilefoto {
    width: 150px;
    height: 150px;
  }
  .profilebar .count{
    font-size: 14px;
  }
  .profilebar .username{
    font-size: 18px;
  }
  .managebar .editButton{
    padding: 5px 10px;
    margin-right: 5px;
  }
  .photobar .photoButtonCreated{
    padding: 10px 15px;
  }
  .photobar .photoButtonSaved{
    padding: 10px 15px;
  }
  .photobar .photoButtonAlbum{
    padding: 10px 15px;
  }
  .buttonalbum {
    width: 120px;
    height: 35px;
  }
  .buttonalbum .button__text {
    transform: translateX(18px);
  }
  .buttonalbum .button__icon {
    transform: translateX(95px);
    width: 30px;
  }
  .listalbum {
    padding: 6px 10px 6px 12px;
    height: 35px;
    width: 110px;
  }
  .lable {
    font-size: 16px;
  }
  .namalengkap {
    font-size: 18px;
  }
  .username{
    font-size: 13px;
  }
}