.profilefotobar {
    position: relative;
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
}
.profilefoto {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #fff;
    transition: all 0.3s ease-in-out;
}
.foto:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 6px #E60023;
}

.profilebar {
    position: relative;
    text-align: center;
    align-items: center;
}

.profilebar .count{
    font-size: 16px;
    font-style: italic;
    color: #161b22;
}

.profilebar .username{
    font-size: 20px;
    font-weight: bold;
    color: #161b22;
}

.garis {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 26%;
    
    display: flex;
    width: 50%;
    height: 2px;
    background-color: #161b22; /* Warna hitam dengan tingkat transparansi 0.5 */
    opacity: 0.5;
  }

  .managebar {
    position: relative;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.managebar .shareButton{
  color: black;
  background: #efefef;
  padding: 12px 25px;
  cursor: pointer;
  user-select: none;
  border-radius: 40px;
  margin: 0px 5px;
  text-decoration: none;
}
.managebar .editButton{
  color: black;
  background: #efefef;
  padding: 12px 25px;
  cursor: pointer;
  user-select: none;
  border-radius: 40px;
  margin: 0px 5px;
  text-decoration: none;
}
.managebar .shareButton:hover{
    color: black;
    background:  rgb(216, 216, 216);
    transition: 0.3s;
  }

.managebar .editButton:hover{
    color: black;
    background: rgb(216, 216, 216);
    transition: 0.3s;
  }

.photobar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 0.3px;
}


.underline {
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-image-slice: 1;
}

/* make a hover with background animation */
.no-underline {
  color: black;
  cursor: pointer;
  user-select: none;
  border-radius: 40px;
  text-decoration: none;
  opacity: 0.7;
}



.no-underline:hover {
  background: rgb(216, 216, 216);
  border-radius: 20px;
  cursor: pointer;

}

.no-decoration {
    text-decoration: none;
}

.photobar .photoButtonCreated{
  padding: 12px 20px;
  margin-right: 10px;
  color: black;
}

.photobar .photoButtonSaved{
  padding: 12px 20px;
  margin-left: 10px;
  color: black;
}

.photobar .photoButtonAlbum{
  padding: 12px 20px;
  margin-left: 10px;
  color: black;
}