.profilefotobar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profilefoto {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #fff;
  transition: all 0.3s ease-in-out;
}
.foto:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 6px #e60023;
}

.profilebar {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.profilebar .count {
  font-size: 16px;
  font-style: italic;
  color: #161b22;
}

.profilebar .username {
  font-size: 20px;
  font-weight: bold;
  color: #161b22;
}

.garis {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 26%;
  display: flex;
  width: 50%;
  height: 2px;
  background-color: #161b22; /* Warna hitam dengan tingkat transparansi 0.5 */
  opacity: 0.2;
}

.managebar {
  position: relative;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.managebar .shareButton {
  color: black;
  background: #efefef;
  padding: 12px 25px;
  cursor: pointer;
  user-select: none;
  border-radius: 40px;
  margin: 0px 5px;
  text-decoration: none;
}
.managebar .editButton {
  color: black;
  background: #efefef;
  padding: 12px 25px;
  cursor: pointer;
  user-select: none;
  border-radius: 40px;
  margin: 0px 5px;
  text-decoration: none;
}
.managebar .shareButton:hover {
  color: black;
  background: rgb(216, 216, 216);
  transition: 0.3s;
}

.managebar .editButton:hover {
  color: black;
  background: rgb(216, 216, 216);
  transition: 0.3s;
}

.photobar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 0.3px;
}

.underline {
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  border-image-slice: 1;
}

/* make a hover with background animation */
.no-underline {
  color: black;
  cursor: pointer;
  user-select: none;
  border-radius: 40px;
  text-decoration: none;
  opacity: 0.7;
}

.no-underline:hover {
  background: rgb(216, 216, 216);
  border-radius: 20px;
  cursor: pointer;
}

.no-decoration {
  text-decoration: none;
}

.photobar .photoButtonCreated {
  padding: 12px 20px;
  margin-right: 10px;
  color: black;
}

.photobar .photoButtonSaved {
  padding: 12px 20px;
  margin-left: 10px;
  color: black;
}

.photobar .photoButtonAlbum {
  padding: 12px 20px;
  margin-left: 10px;
  color: black;
}

.buttonalbum {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid #69bff8;
  box-shadow: 4px 4px #69bff8;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.buttonalbum,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.buttonalbum .button__text {
  transform: translateX(22px);
  color: #323232;
  font-weight: 600;
}

.buttonalbum .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 35px;
  background-color: #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonalbum .svg {
  width: 20px;
  fill: #323232;
}

.buttonalbum:hover {
  background: #eee;
}

.buttonalbum:hover .button__text {
  color: transparent;
}

.buttonalbum:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.buttonalbum:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px #323232;
}

.flex-menu {
  display: flex;
}

.flex-menu li {
  list-style: none;
}

.namalengkap {
  margin-top: 5px;
  font-size: 25px;
  font-weight: bold;
  color: #161b22;
}

.harmonify-icon-username {
  max-width: 15px;
  max-height: 15px;
  margin: 2px;
}

.username {
  margin-left: 3px;
  font-size: 15px;
  font-weight: bold;
  color: #161b22;
  opacity: 0.7;
}

.containerAlbum {
  float: center;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  columns: 5;
}

.cardalbum {
  margin-top: 10px;
  position: relative;
  width: 16%;
  height: 150px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border-radius: 0.625em;
  overflow: hidden;
}
.cardalbum .titlezone {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.cardalbum .titlezone .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  position: relative;
  font-weight: bold;
  color: #161b22;
  margin-left: 10px;
  word-break: break-all;
}

.cardalbum .titlezone .icon {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: relative;
  font-weight: bold;
  color: #000;
  padding: 8px;
}

.cardalbum .titlezone .icon:hover {
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.15);
}

.cardalbum .imagezone {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: end;
  margin-left: 25px;
}

.cardalbum .imagezone .image {
  width: 110px;
  height: 110px;
  background: #f1f1f1;
  border-radius: 0.625em;
  overflow: hidden;
  transform: rotate(20deg);
}

.cardalbum .image img {
  object-fit: cover;
  width: 100%;
}

.cardalbum:hover::after {
  bottom: 0;
  opacity: 1;
}


.textalbum {
  max-width: 55px;
}

.image {
  background: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
}

.iconButtonRemove {
  color: #f1f1f1;
  width: 40px;
  border-radius: 30%;
  background: #fc3f3f;
  padding: 9px;
  cursor: pointer;
  margin: 0px 2px;
  font-weight: bold;
}

@media (max-width: 770px) {
  .containerAlbum {
    columns: 4;
  }
  .cardalbum {
    margin-top: 10px;
    position: relative;
    width: 25%;
    height: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border-radius: 0.625em;
    overflow: hidden;
  }
  .cardalbum .titlezone {
    width: 100%;
    height: 30%;
  }
  
  .cardalbum .titlezone .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    position: relative;
    font-weight: bold;
    color: #000;
    margin-left: 10px;
  }
  
  .cardalbum .imagezone {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: end;
    margin-left: 25px;
  }
  
  .cardalbum .imagezone .image {
    width: 110px;
    height: 110px;
    background: #f1f1f1;
    border-radius: 0.625em;
    overflow: hidden;
    transform: rotate(20deg);
  }
}

@media (max-width: 500px) {
  .profilefoto {
    width: 140px;
    height: 140px;
  }
  .profilebar .count {
    font-size: 14px;
  }
  .profilebar .username {
    font-size: 18px;
  }
  .managebar .editButton {
    padding: 5px 10px;
    margin-right: 5px;
  }
  .photobar .photoButtonCreated {
    padding: 10px 15px;
  }
  .photobar .photoButtonSaved {
    padding: 10px 15px;
  }
  .photobar .photoButtonAlbum {
    padding: 10px 15px;
  }
  .buttonalbum {
    width: 120px;
    height: 35px;
  }
  .buttonalbum .button__text {
    transform: translateX(18px);
  }
  .buttonalbum .button__icon {
    transform: translateX(95px);
    width: 30px;
  }
  .listalbum {
    padding: 6px 10px 6px 12px;
    height: 35px;
    width: 110px;
  }
  .lable {
    font-size: 16px;
  }
  .namalengkap {
    font-size: 18px;
  }
  .username {
    font-size: 13px;
  }
  .containerAlbum {
    columns: 3;
  }
  .containerAlbum {
    float: center;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    columns: 5;
  }
  
  .cardalbum {
    margin-top: 10px;
    position: relative;
    width: 48%;
    height: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border-radius: 0.625em;
    overflow: hidden;
  }
  .cardalbum .titlezone {
    width: 100%;
    height: 30%;
  }
  
  .cardalbum .titlezone .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    position: relative;
    font-weight: bold;
    color: #000;
    margin-left: 10px;
  }
  
  .cardalbum .imagezone {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: end;
    margin-left: 25px;
    margin-top: 20px;
  }
  
  .cardalbum .imagezone .image {
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    border-radius: 0.625em;
    overflow: hidden;
    transform: rotate(20deg);
  }
}
