/*ROOT*/

body::-webkit-scrollbar {
  display: none;
}

header {
  z-index: 1000;
}

* {
  outline: none;
}

body {
  margin-top: 90px;
  padding: 0px;
  font-family: arial;
  min-height: 200vh;
  
}
img {
  user-select: none;
}

/*MENU*/
.menu {
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: bold;
}
.menu .logo {
  width: 25px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}
.menu .logo:hover {
  background: #eeeeee;
}
.menu .home {
  padding: 12px 25px;
  cursor: pointer;
  user-select: none;
  border-radius: 40px;
  margin: 0px 5px;
  text-decoration: none;
}
.menu .create {
  padding: 12px 25px;
  cursor: pointer;
  user-select: none;
  border-radius: 40px;
  margin: 0px 5px;
  text-decoration: none;
}
.menu .homeicon {
  padding: 5px 12px;
  cursor: pointer;
  user-select: none;
  border-radius: 40px;
  margin: 0px 5px;
  text-decoration: none;
}
.menu .createicon {
  padding: 5px 12px;
  cursor: pointer;
  user-select: none;
  border-radius: 40px;
  margin: 0px 5px;
  text-decoration: none;
}
.full-search-bar {
  width: 100%;
  margin-right: 5px;
}
.search-bar {
  width: 100%;
  margin: 0px 5px;
  padding: 12px 35px;
  border-radius: 40px;
  outline: none;
  position: relative;
  background-color: #efefef;
  font-size: 15px;
  background-image: url("https://cdn4.iconfinder.com/data/icons/music-ui-solid-24px/24/search-3-256.png");
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 10px;
  color: gray;
  border: 4px solid transparent;
}
.search-bar:hover {
  background-color: #3333;
}
.search-bar:focus {
  border: 4px solid #7bb5f0;
  padding: 12px 20px;
  background-image: none;
}
.search-bar::placeholder {
  user-select: none;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.icon-container .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 3px;
  padding: 2px;
  padding: 0px;
  object-fit: cover;
}
.icon-container .icon:hover {
  background-color: #eeeeee;
}
.icon-container .btn {
  width: 14px;
  padding: 5px;
}

.displayicon {
  display: none;
}

.displaytext {
  display: inline;
}

.pp-bar a {
  text-decoration: none;
  padding: 5px 15px;
  border: 2px solid #161b22;
  color: #161b22;
  border-radius: 5px;
}
.pp-bar {
  flex-direction: column;
}
.pp-bar img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.pp-bar a:hover {
  background: #161b22;
  color: white;
}

/*MINI SEARCH BAR*/
#two {
  display: none;
  padding: 15px;
}

.buttonlogin {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  margin-left: 5px;
  box-sizing: border-box;
  border: 0;
  border-radius: 40px;
  color: var(--secondary-color);
  padding: 12px 25px;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.buttonlogin .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonlogin .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.buttonlogin .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.buttonlogin:hover {
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.buttonlogin:hover .arrow {
  background: var(--secondary-color);
}

.buttonlogin:hover .arrow:before {
  right: 0;
}

/*POSTS*/
.containerFoto {
  float: center;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  columns: 6;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.window {
  border-radius: 20px;
  flex-direction: column;
  width: 238;
  margin-top: 5px;
  margin-bottom: 5px;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 97;
  
}
.window .foto {
  cursor: zoom-in;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.window .content {
  margin-left: 10px;
  margin-top: -2px;
  max-width: 100%;
  font-size: 13px;
  font-weight: bold;
}
.iconpost {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 3px;
  margin-top: 3px;
}
/*HOVER ZONE*/
.hover-zone {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  cursor: zoom-in;
  display: flex;
  align-content: space-between;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(000, 000, 0, 0.4);
  user-select: none;
}

.hover-zone-album {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  cursor: zoom-in;
  display: flex;
  align-content: space-between;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  user-select: none;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  border-radius: 20px;
  margin-top: 5px;
}

.top-bar .icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
}
.deleteButton {
  color: white;
  padding: 15px;
  font-weight: bolder;
  font-size: 12px;
  border-radius: 40px;
  cursor: pointer;
  background: #ff4d4d;
  margin-top: 3px;
}
.deleteButton:hover {
  background: #ff3333;
}

.editButton {
  color: white;
  padding: 15px;
  font-weight: bolder;
  font-size: 12px;
  border-radius: 40px;
  cursor: pointer;
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  margin-top: 3px;
}
.editButton:hover {
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.albumButton {
  color: white;
  padding: 15px;
  font-weight: bolder;
  font-size: 12px;
  border-radius: 40px;
  cursor: pointer;
  background: #FFBB64;
  margin-top: 3px;
}
.albumButton:hover {
  background: #FF9843;
}

.bottom-bar {
  padding: 10px 10px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-bar .webButton {
  color: #161b22;
  padding: 5px 10px;
  background: #efefef;
  border-radius: 40px;
  cursor: pointer;
  font-weight: bolder;
}
.bottom-bar .webButton:hover {
  background: white;
}
.iconButtonLike {
  color: #161b22;
  width: 40px;
  border-radius: 30%;
  background: #efefef;
  padding: 13px;
  cursor: pointer;
  margin: 0px 2px;
  font-weight: bold;
}
.iconButton:hover {
  color: #161b22;
  background: white;
}
.iconButtonLike i {
  margin-right: 7px;
}
.iconButtonDownload {
  color: #161b22;
  width: 40px;
  border-radius: 30%;
  background: #efefef;
  padding: 9px;
  cursor: pointer;
  margin: 0px 2px;
  font-weight: bold;
}
.iconButtonDownload:hover {
  color: #161b22;
  background: white;
}
.hover-zone {
  opacity: 0;
}
.window:hover .hover-zone {
  opacity: 1;
}

.hover-zone-album {
  opacity: 1;
}
.window:hover .hover-zone-album {
  opacity: 1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 1000000;
  transition: 0.6s;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.home-active {
  color: #fff;
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.home-deactive {
  color: #161b22;
}

.create-active {
  color: #fff;
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.create-deactive {
  color: #161b22;
}

.profile-active {
  color: #1fa7e1;
}

.profile-deactive {
  color: #161b22;
}

.harmonify-icon {
  max-width: 50px; 
  max-height: 50px; 
  margin: 10px;
}

.colmodal1 {
  flex: 0 0 50%;
  max-width: 50%;
}

.colmodal2 {
  flex: 0 0 50%;
  max-width: 50%;
}



.containerProfile {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  column-gap: 10px;
 
  justify-content: start;
}

.cardprofile {
  cursor: pointer;
  width: 160px;
  height: 250px;
  border: none;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  font-family: inherit;
  margin-bottom: 5px;
}

.cardprofile .fullname {
  font-weight: 600;
  color: #161b22;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 18px;
}

.cardprofile .username {
  font-weight: 400;
  color: #161b22;
  display: block;
  text-align: center;
  padding-top: 5px;
  font-size: 15px;
  font-weight: bold;
}

.cardprofile .img {
  width: 130px;
  height: 130px;
  background: #e8e8e8;
  border-radius: 100%;
  margin: auto;
  margin-top: 20px;
}

.cardprofile .img img {
  width: 130px;
  height: 130px;
  border-radius: 100%;
}

@media (max-width: 1450px) {
  .containerFoto {
    margin-left: 15px;
    margin-right: 15px;
    columns: 5;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .window {
    flex-direction: column;
    width: 260;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 720;
    overflow: hidden;
    position: relative;
    z-index: 97;
  }
  /*HOVER ZONE*/
  .hover-zone {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: zoom-in;
    display: flex;
    align-content: space-between;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(000, 000, 0, 0.4);
    user-select: none;
  }
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    border-radius: 20px;
  }
  .top-bar .icon {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
  }
  .top-bar .saveButton {
    color: white;
    padding: 15px 25px;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 40px;
    margin-top: 3px;
  }
  .bottom-bar {
    padding: 10px 10px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bottom-bar .webButton {
    color: #161b22;
    padding: 5px 10px;
    background: #efefef;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bolder;
  }
  .bottom-bar .webButton:hover {
    background: white;
  }
  .bottom-bar img {
    width: 20px;
    border-radius: 50%;
    background: #efefef;
    padding: 6px;
    cursor: pointer;
    margin: 0px 2px;
  }
  .bottom-bar img:hover {
    background: white;
  }
  .hover-zone {
    opacity: 0;
  }
  .window:hover .hover-zone {
    opacity: 1;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 1000000;
    transition: 0.6s;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
  }
}

@media (max-width: 1200px) {
  .containerFoto {
    margin-left: 15px;
    margin-right: 15px;
    columns: 5;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .window {
    border-radius: 20px;
    flex-direction: column;
    width: 185;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 720;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    z-index: 97;
  }
  /*HOVER ZONE*/
  .hover-zone {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: zoom-in;
    display: flex;
    align-content: space-between;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(000, 000, 0, 0.4);
    user-select: none;
  }
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    border-radius: 20px;
  }
  .top-bar .icon {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
  }
  .top-bar .saveButton {
    color: white;
    padding: 15px 25px;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 40px;
    margin-top: 3px;
  }
  .bottom-bar {
    padding: 10px 10px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bottom-bar .webButton {
    color: #161b22;
    padding: 5px 10px;
    background: #efefef;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bolder;
  }
  .bottom-bar .webButton:hover {
    background: white;
  }
  .bottom-bar img {
    width: 20px;
    border-radius: 50%;
    background: #efefef;
    padding: 6px;
    cursor: pointer;
    margin: 0px 2px;
  }
  .bottom-bar img:hover {
    background: white;
  }
  .hover-zone {
    opacity: 0;
  }
  .window:hover .hover-zone {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .containerFoto {
    margin-left: 15px;
    margin-right: 15px;
    columns: 5;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .window {
    border-radius: 20px;
    flex-direction: column;
    width: 185;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 720;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    z-index: 97;
  }
  /*HOVER ZONE*/
  .hover-zone {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: zoom-in;
    display: flex;
    align-content: space-between;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(000, 000, 0, 0.4);
    user-select: none;
  }
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    border-radius: 20px;
  }
  .top-bar .icon {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
  }
  .top-bar .saveButton {
    color: white;
    padding: 15px 25px;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 40px;
    margin-top: 3px;
  }
  .bottom-bar {
    padding: 10px 10px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bottom-bar .webButton {
    font-size: 12px;
    color: #161b22;
    padding: 5px 10px;
    background: #efefef;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bolder;
  }
  .bottom-bar .webButton:hover {
    background: white;
  }
  .bottom-bar img {
    width: 20px;
    border-radius: 50%;
    background: #efefef;
    padding: 6px;
    cursor: pointer;
    margin: 0px 2px;
  }
  .bottom-bar img:hover {
    background: white;
  }
  .hover-zone {
    opacity: 0;
  }
  .window:hover .hover-zone {
    opacity: 1;
  }
}

@media (max-width: 770px) {

  .displayicon {
    display: inline;
  }
  
  .displaytext {
    display: none;
  }

  .containerFoto {
    margin-left: 15px;
    margin-right: 15px;
    columns: 4;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .window {
    border-radius: 20px;
    flex-direction: column;
    width: 173;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 720;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    z-index: 97;
  }
  /*HOVER ZONE*/
  .hover-zone {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: zoom-in;
    display: flex;
    align-content: space-between;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(000, 000, 0, 0.4);
    user-select: none;
  }
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    border-radius: 20px;
  }
  .top-bar .icon {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
    display: none;
  }
  .top-bar .saveButton {
    color: white;
    padding: 15px 25px;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 40px;
    margin-top: 3px;
  }
  .bottom-bar {
    padding: 10px 10px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bottom-bar .webButton {
    color: #161b22;
    padding: 5px 10px;
    background: #efefef;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bolder;
    display: none;
  }
  .bottom-bar .webButton:hover {
    background: white;
  }
  .bottom-bar img {
    width: 13px;
    border-radius: 50%;
    background: #efefef;
    padding: 6px;
    cursor: pointer;
    margin: 0px 2px;
  }
  .bottom-bar img:hover {
    background: white;
  }
  .hover-zone {
    opacity: 0;
  }
  .window:hover .hover-zone {
    opacity: 1;
  }

  .harmonify-icon {
    display: none;
  }

  .bottom-bar .iconButtonDownload {
    display: none;
  }

  .top-bar .deleteButton {
    display: none;
  }

  .top-bar .editButton {
    display: none;
  }

}

@media (max-width: 480px) {
  /*MENU*/
  .menu {
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
  }
  .menu .logo {
    display: none;
  }
  .menu .logo:hover {
    background: #eeeeee;
  }
  .menu .create {
    padding: 10px 22px;
    cursor: pointer;
    user-select: none;
    border-radius: 40px;
    margin: 0px 5px;
  }
  .menu .home {
    padding: 10px 22px;
    cursor: pointer;
    user-select: none;
    border-radius: 40px;
    margin: 0px 5px;
  }
  .search-bar {
    width: 100%;
    margin: 0px 5px;
    padding: 12px 35px;
    border-radius: 40px;
    outline: none;
    position: relative;
    background-color: #efefef;
    font-size: 15px;
    background-image: url("https://cdn4.iconfinder.com/data/icons/music-ui-solid-24px/24/search-3-256.png");
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center left;
    background-position: 10px;
    color: gray;
    border: 4px solid transparent;
  }
  .search-bar:hover {
    background-color: #3333;
  }
  .search-bar:focus {
    border: 4px solid #7bb5f0;
    padding: 12px 20px;
    background-image: none;
  }
  .search-bar::placeholder {
    user-select: none;
  }
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .icon-container .icon:hover {
    background-color: #eeeeee;
  }
  .icon-container .btn {
    width: 14px;
    padding: 5px;
  }

  .pp-bar a {
    text-decoration: none;
    padding: 5px 15px;
    border: 2px solid #161b22;
    color: #161b22;
    border-radius: 5px;
  }
  .pp-bar {
    flex-direction: column;
  }
  .pp-bar img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .pp-bar a:hover {
    background: #161b22;
    color: white;
  }

  .buttonlogin .arrow-wrapper {
    display: none;
  }

  /*MINI SEARCH BAR*/
  #two {
    display: none;
    padding: 15px;
  }
  .responsive-search-bar {
    max-width: 100%;
    padding: 40px 10px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -300px;
    transition: all 0.3s;
    overflow: hidden;
    display: none;
    background: #fff;
    box-shadow: 0px 0px 2px 0px #333;
    margin: 0px 5px;
    z-index: 99;
  }
  .responsive-search-bar input {
    width: 100%;
    height: 35px;
    outline: none;
    border-radius: 40px;
    border: 4px solid transparent;
    background-image: url("https://cdn4.iconfinder.com/data/icons/music-ui-solid-24px/24/search-3-256.png");
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center left;
    background-position: 10px;
    padding: 0px 15px 0px 35px;
    background-color: #efefef;
  }
  .responsive-search-bar input:focus {
    border: 4px solid #7bb5f0;
  }
  .responsive-search-bar p {
    font-size: 11px;
    padding: 11px;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: -12px;
    right: -1px;
    transition: all 0.3s;
  }
  .responsive-search-bar p:hover {
    background: #eeeeee;
    transform: rotate(-180deg);
  }

  .containerFoto {
    margin-left: 8px;
    margin-right: 8px;
    columns: 2;
    column-gap: 6px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .window {
    border-radius: 20px;
    flex-direction: column;
    width: 156;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 720;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    z-index: 97;
  }
  /*HOVER ZONE*/
  .hover-zone {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: zoom-in;
    display: flex;
    align-content: space-between;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(000, 000, 0, 0.4);
    user-select: none;
  }
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    border-radius: 20px;
  }
  .top-bar .icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
  }
  .top-bar .saveButton {
    color: white;
    padding: 15px 25px;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 40px;
    margin-top: 3px;
  }
  
  .bottom-bar {
    padding: 10px 10px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bottom-bar .webButton {
    color: #161b22;
    padding: 5px 10px;
    background: #efefef;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bolder;
  }
  .bottom-bar .webButton:hover {
    background: white;
  }
  .bottom-bar img {
    width: 13px;
    border-radius: 50%;
    background: #efefef;
    padding: 6px;
    cursor: pointer;
    margin: 0px 2px;
  }
  .bottom-bar img:hover {
    background: white;
  }
  .hover-zone {
    opacity: 0;
  }
  .window:hover .hover-zone {
    opacity: 1;
  }
  .colmodal1 {
    display: none;
  }
  
  .colmodal2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 431px) {
  .containerFoto {
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    columns: 2;
    column-gap: 4px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .window {
    border-radius: 20px;
    flex-direction: column;
    width: 196;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 720;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    z-index: 97;
  }
  /*HOVER ZONE*/
  .hover-zone {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: zoom-in;
    display: flex;
    align-content: space-between;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(000, 000, 0, 0.4);
    user-select: none;
  }
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    border-radius: 20px;
  }
  .top-bar .icon {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
  }
  .top-bar .saveButton {
    color: white;
    padding: 15px 25px;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 40px;
    margin-top: 3px;
  }

  .bottom-bar {
    padding: 10px 10px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bottom-bar .webButton {
    color: #161b22;
    padding: 5px 10px;
    background: #efefef;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bolder;
  }
  .bottom-bar .webButton:hover {
    background: white;
  }
  .bottom-bar img {
    width: 13px;
    border-radius: 50%;
    background: #efefef;
    padding: 6px;
    cursor: pointer;
    margin: 0px 2px;
  }
  .bottom-bar img:hover {
    background: white;
  }
  .hover-zone {
    opacity: 0;
  }
  .window:hover .hover-zone {
    opacity: 1;
  }
}

@media (max-width: 415px) {
  .containerFoto {
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    columns: 2;
    column-gap: 4px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .window {
    border-radius: 20px;
    flex-direction: column;
    width: 176;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 720;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    z-index: 97;
  }
  /*HOVER ZONE*/
  .hover-zone {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: zoom-in;
    display: flex;
    align-content: space-between;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(000, 000, 0, 0.4);
    user-select: none;
  }
  .top-bar .icon {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
  }
  .top-bar .saveButton {
    color: white;
    padding: 15px 25px;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 40px;
    margin-top: 3px;
  }
  .bottom-bar {
    padding: 10px 10px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bottom-bar .webButton {
    color: #161b22;
    padding: 5px 10px;
    background: #efefef;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bolder;
  }
  .bottom-bar .webButton:hover {
    background: white;
  }
  .bottom-bar img {
    width: 13px;
    border-radius: 50%;
    background: #efefef;
    padding: 6px;
    cursor: pointer;
    margin: 0px 2px;
  }
  .bottom-bar img:hover {
    background: white;
  }
  .hover-zone {
    opacity: 0;
  }
  .window:hover .hover-zone {
    opacity: 1;
  }
}

@media (max-width: 376px) {
  .containerFoto {
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    columns: 2;
    column-gap: 6px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .window {
    border-radius: 20px;
    flex-direction: column;
    width: 154;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 720;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    z-index: 97;
  }

  /*HOVER ZONE*/
  .hover-zone {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: zoom-in;
    display: flex;
    align-content: space-between;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(000, 000, 0, 0.4);
    user-select: none;
  }
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    border-radius: 20px;
  }
  .top-bar .icon {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
  }
  .top-bar .saveButton {
    color: white;
    padding: 15px 25px;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 40px;
    margin-top: 3px;
  }
  
  .bottom-bar {
    padding: 10px 10px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bottom-bar .webButton {
    font-size: 9px;
    color: #161b22;
    padding: 5px 10px;
    background: #efefef;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bolder;
  }
  .bottom-bar .webButton:hover {
    background: white;
  }
  .bottom-bar img {
    width: 13px;
    border-radius: 50%;
    background: #efefef;
    padding: 3px;
    cursor: pointer;
    margin: 0px 2px;
  }
  .bottom-bar img:hover {
    background: white;
  }
  .hover-zone {
    opacity: 0;
  }
  .window:hover .hover-zone {
    opacity: 1;
  }
}
